<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogToConsole="true" 
      internalLogFile="logs\nlog_internallog.txt" >
  
  <targets>
    <target xsi:type="Console" name="Console" layout="${longdate} ${logger} ${uppercase:${level}} ${message}" />
    <target name="file" xsi:type="File" layout="${longdate} ${logger} ${uppercase:${level}} ${message}" fileName="${basedir}/logs/Nlog.${shortdate}.log" encoding="utf-8" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console,file"/>
  </rules>
</nlog>
